<form action='/search-results'>
  Search for artist events:
  <br />
  <input
    type='text'
    name='artist'
    placeholder='Artist name'
    id='input-search-term'
  />
  <br />
  <input type='submit' value='Submit' />
</form>