<h1>These are the artist event search results</h1>

<div class='result-list'>
  {{#each result.items}}
    <p><b>Event name:</b> {{this.name}}</p> 
    <p><b>Promoter name:</b> {{this.promoter.name}}</p>
    <p><b>Timezone:</b> {{this.dates.timezone}}</p>
    </br>
  {{/each}}
</div>