<h1>Artist public profile</h1>

<p>Name: {{result.name}}</p>
<p>Description: {{result.description}}</p>
<p>Upcoming events: <i>placeholder</i></p>
<p>Image gallery: <i>placeholder</i></p>
<p>Artist picture <img src='{{result.picture}}' alt='Band picture' /></p>

{{#if user}}
  <form action='/artist/follow/{{result.id}}' method='POST'>
    <button type='submit'>Follow</button>
  </form>
{{/if}}