<h1>Artist public profile</h1>

<p>Name: {{result.name}}</p>
<p>Description: {{result.description}}</p>
<p>Artist picture <img src='{{result.picture}}' alt='Band picture' /></p>

<form action='/artist/follow' method='POST'>
  <button type='submit'>Follow</button>
</form>