<div>
  <form method='GET' action='/artist/search-results'>

    <input type='text' name='artist' id='artist-search' />
    <button>Search</button>
  </form>
</div>

{{#each result}}

  <div class='arists'>
    <div class='card' style='width: 18rem;'>
      <img class='card-img-top' src='{{picture}}' alt='Artist Picture' />
      <div class='card-body'>
        <h5 class='card-title'>{{name}}</h5>
        <p class='card-text'>{{description}}</p>
        <a href='/artist/public/{{id}}' class='btn btn-primary'>Check them out</a>
      </div>
    </div>
  </div>

{{/each}}