<div>
  <form method='GET' action='/artist/search-results'>

    <input
      type='text'
      name='artist'
      id='artist-search'
      placeholder='Artist name'
    />
    <button>Search</button>
  </form>
</div>

{{#each artists}}
  <div>
    <a href='/artist/public/{{id}}'>{{name}}</a>
  </div>
{{/each}}