<h1>Edit event</h1>

<form method='POST' enctype='multipart/form-data'>

  <label for='event-title'>Title</label>
  <input
    id='event-title'
    name='title'
    type='text'
    placeholder='Amazing concert in Madison Square Garden'
    value='{{event.title}}'
    required
  />

  <p>Location</p>

  <label for='event-city'>City</label>
  <input
    id='event-city'
    name='city'
    type='text'
    placeholder='New York City'
    value='{{event.location.city}}'
  />

  <label for='event-state'>State / Province</label>
  <input id='event-state' name='state' type='text' placeholder='NY' />

  <label for='event-country'>Country</label>
  <input id='event-country' name='country' type='text' placeholder='USA' />

  <input id='event-lat' name='latitude' type='hidden' value='1' />
  <input id='event-lon' name='longitude' type='hidden' value='2' />

  <label for='event-venue'>Venue</label>
  <input id='event-venue' name='venue' type='text' name='' id='' />

  <label for='event-date'>Event Date</label>
  <input id='event-date' name='date' type='date' name='' id='' />

  <label for='event-description'>Description</label>
  <textarea id='event-description' name='description'></textarea>

  <label for='event-images'>Event Images</label>
  {{! <input type='text' name='images' id='event-images' /> }}
  <input type='file' name='images' id='event-images' />

  <button>Add Event</button>

</form>